{% extends 'base.html' %}
{% block content %}

<h1>Property List</h1>

{% for property in properties %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ property.street }}</span>
      <p>This is a {{property.units}} unit {{ property.type }}</p>
      <p>Price: ${{ property.price }}</p>
      <p>City: {{ property.city }}</p>
      <p>State: {{ property.state }}</p>
      <p>{{ property.description }}</p>
      <p>Listing: <a href="{{ property.link }}">Click Here for Listing</a></p>
    </div>
  </div>
{% endfor %}

{% endblock %}